body{
    background-color: rgb(237, 224, 187);
    margin: 0px;
    height: 100vh;
}

#titulo{
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    line-height: 60px;

}

#placar{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

h3{
    padding-top: 3px;
    margin: 0px;
    font-size: 16px;
    font-family: 'DynaPuff', cursive;
    font-weight: 400;
    color: rgb(68, 20, 115);
}

#container {
    width: 100vw;
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.grid {
    background-color: #cfc3db;
    box-shadow: 1px 1px 10px 2px #1f0a2e; 
    border-radius: 10px;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 300px;
    justify-content: center;
    align-content: center;
}
#cronometro{
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}
#start, #restart{
    margin-bottom: 5px;
    border: none;
    font-family: 'DynaPuff', cursive;
    font-size: 16px;
    padding: 10px;
    width: 120px;
    background-color:#361656;
    color: #c8bed4;
    border-radius: 5px;

}

#start:hover, #restart:hover{
    filter: contrast(80%);
}

#restart:disabled, #start:disabled{
    background-color:#cfc3db;
    color: #c1a9d9;
}
#start:disabled:hover, #restart:disabled:hover{
    filter: contrast(100%);
}

#parabens{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    line-height: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}

#mensagem{
    display: flex;
    text-align: center;
    line-height: 30px;
    margin: 0px;
    align-items: center;
    font-family: 'DynaPuff', cursive;
    font-weight: 400;
    color: rgb(68, 20, 115);

}

.tempo {
    font-size: 18px;
    font-family: 'DynaPuff', cursive;
    font-weight: 400;
    color: rgb(68, 20, 115);
    width: 150px;
}

#dev {
    background-color: rgb(54, 22, 86);
    color: #d2c6c6;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'DynaPuff', cursive;
    border: none;
}

#dev a {
    color: #c1a9d9; ;
}